In [14]:
import numpy as np
import pandas as pd

weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
print(df)

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [26]:
rows,columns=df.shape
df.head(2) #print 2 first lines
df.tail(2) #print 2 last lines
df[2:5] #print lines between 2 and 4
df.columns #print list of columns
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [29]:
type(df['event']) #type of the list in pandas most of them are series
df[['event','day']] #print only the columns we want

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [38]:
df['temperature'].max() #pretty clear
df['temperature'].min()
df['temperature'].mean()
df['temperature'].std() #standard deviation

df.describe() #gives everything

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [46]:
df[df.temperature>=32] #print lines with temperature >= 32
df[df.temperature==df.temperature.max()] #print le max sur les temperatures
df.day[df.temperature==df.temperature.max()] #print le jour ou la temp est max

1    1/2/2017
Name: day, dtype: object

In [62]:
df

       temperature  windspeed
event
Rain            32          6
Sunny           35          7
Snow            28          2
Snow            24          7
Rain            32          4
Sunny           31          2

KeyError: 'the label [1/4/2017] is not in the [index]'

In [68]:
df.loc['Sunny']

       temperature  windspeed
event
Sunny           35          7
Sunny           31          2